/.vscode

/Dimpoma research/Algorithm implementation/*
!/Dimpoma research/Algorithm implementation/Images
!/Dimpoma research/Algorithm implementation/GUI main.py
!/Dimpoma research/Algorithm implementation/HMM.py
!/Dimpoma research/Algorithm implementation/investigated hidden chain.txt

/Dimpoma research/Diploma thesis/*
!/Dimpoma research/Diploma thesis/Chapters
!/Dimpoma research/Diploma thesis/Code
!/Dimpoma research/Diploma thesis/Data
!/Dimpoma research/Diploma thesis/Images
!/Dimpoma research/Diploma thesis/Tikzplots

/Diploma practice/Presentation/*

/Diploma practice/Report/*
!/Diploma practice/Report/Chapters
!/Diploma practice/Report/Code
!/Diploma practice/Report/Data
!/Diploma practice/Report/Images

/Scientific student conference/Theses/*
!/Scientific student conference/Theses/Data

/Scientific student conference/Presentation/*
!/Scientific student conference/Presentation/Tikzplots
!/Scientific student conference/Presentation/Data

!*.tex
!*.cls
!*.bib
!*.pdf